# Daily backup at 03:00; weekly pruning at 04:00 Sunday.
0 3 * * * root /usr/local/bin/backup-home >> {{ bootstrap_backup_log }} 2>&1
0 4 * * 0 root /usr/local/bin/backup-home --prune >> {{ bootstrap_backup_log }} 2>&1
